header {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(2, 5, 14, 1);
  -webkit-background: rgba(2, 5, 14, 1);
  -moz-background: rgba(2, 5, 14, 1);
  -o-background: rgba(2, 5, 14, 1);
  -ms-background: rgba(2, 5, 14, 1);
  background: rgba(2, 5, 14, 1);
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar__box {
  width: 100%;
  max-width: 500px;
  height: 60px;
  padding: 0.5rem 5%;

  @include flex-row;

  justify-content: flex-end;
  align-items: center;
}
