@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gill-sans');

$ff: 'Gill Sans', sans-serif;
$ff-ctrl: 'Lato', sans-serif;

@mixin font($fs: 1rem, $fw:300, $lh:1.2rem, $ls:normal, $tt:normal) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  line-height: $lh;
  text-transform: $tt;
}
